In [6]:
# Dependencies and Setup
import pandas as pd

In [12]:
# File to Load (Remember to Change These)
path = "toronto_weather_data.csv"

In [13]:
# Read Data File 
weather_data = pd.read_csv(path)

In [ ]:
# store into Pandas DataFrames
weather_df = pd.DataFrame(weather_data)

In [14]:
#filter for just Toronto data 
toronto_weather = weather_df.loc[weather_df["NAME"] == 'TORONTO CITY, ON CA']
toronto_weather

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDFG,WESD,WESF,WSFG
868,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-01-01,NaN,NaN,0.01,NaN,4.3,8.0,18.0,-1.0,NaN,NaN,NaN,NaN
869,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-01-02,NaN,NaN,0.00,NaN,3.5,14.0,19.0,9.0,NaN,NaN,NaN,NaN
870,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-01-03,NaN,NaN,0.01,NaN,4.3,17.0,22.0,12.0,NaN,NaN,NaN,NaN
871,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-01-04,NaN,NaN,0.01,NaN,4.3,7.0,18.0,-3.0,NaN,NaN,NaN,NaN
872,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-01-05,NaN,NaN,0.00,NaN,3.9,0.0,6.0,-5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-12-27,NaN,NaN,0.18,NaN,NaN,30.0,39.0,21.0,NaN,NaN,NaN,NaN
1221,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-12-28,NaN,NaN,0.07,NaN,0.4,45.0,52.0,39.0,NaN,NaN,NaN,NaN
1222,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-12-29,NaN,NaN,0.00,NaN,0.0,31.0,40.0,22.0,NaN,NaN,NaN,NaN
1223,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-12-30,NaN,NaN,0.05,NaN,0.8,29.0,35.0,23.0,NaN,NaN,NaN,NaN
1224,CA006158355,"TORONTO CITY, ON CA",43.6667,-79.4,113.0,2018-12-31,NaN,NaN,0.54,NaN,0.8,37.0,43.0,30.0,NaN,NaN,NaN,NaN

In [15]:
#drop unnecessary columns 
toronto_weather_clean = toronto_weather.drop(columns=['STATION', 'LATITUDE', 'LONGITUDE',
                                                      'ELEVATION', 'DAPR', 'MDPR', 'SNOW',
                                                      'WDFG', 'WESD', 'WESF', 'WSFG'])
toronto_weather_clean

                     NAME        DATE  PRCP  SNWD  TAVG  TMAX  TMIN
868   TORONTO CITY, ON CA  2018-01-01  0.01   4.3   8.0  18.0  -1.0
869   TORONTO CITY, ON CA  2018-01-02  0.00   3.5  14.0  19.0   9.0
870   TORONTO CITY, ON CA  2018-01-03  0.01   4.3  17.0  22.0  12.0
871   TORONTO CITY, ON CA  2018-01-04  0.01   4.3   7.0  18.0  -3.0
872   TORONTO CITY, ON CA  2018-01-05  0.00   3.9   0.0   6.0  -5.0
...                   ...         ...   ...   ...   ...   ...   ...
1220  TORONTO CITY, ON CA  2018-12-27  0.18   NaN  30.0  39.0  21.0
1221  TORONTO CITY, ON CA  2018-12-28  0.07   0.4  45.0  52.0  39.0
1222  TORONTO CITY, ON CA  2018-12-29  0.00   0.0  31.0  40.0  22.0
1223  TORONTO CITY, ON CA  2018-12-30  0.05   0.8  29.0  35.0  23.0
1224  TORONTO CITY, ON CA  2018-12-31  0.54   0.8  37.0  43.0  30.0

[357 rows x 7 columns]

In [16]:
#check data types 
toronto_weather_clean.dtypes

NAME     object
DATE     object
PRCP    float64
SNWD    float64
TAVG    float64
TMAX    float64
TMIN    float64
dtype: object

In [17]:
#change data types 
toronto_weather_clean['NAME'] = toronto_weather_clean['NAME'].astype('string')
toronto_weather_clean['DATE'] = pd.to_datetime(toronto_weather_clean['DATE'])
toronto_weather_clean['DATE'] = toronto_weather_clean['DATE'].dt.strftime('%m/%d/%Y')

In [18]:
#check to make sure changes were successful 
toronto_weather_clean.dtypes

NAME     string
DATE     object
PRCP    float64
SNWD    float64
TAVG    float64
TMAX    float64
TMIN    float64
dtype: object

In [19]:
#rename columns
toronto_weather_clean.rename(columns={'NAME': 'CITY','SNWD': 'SNOW_DEPTH', 'TAVG': 'AVG_TEMP',
                                      'TMAX': 'MAX_TEMP', 'TMIN': 'MIN_TEMP' }, inplace=True)
toronto_weather_clean

,CITY,DATE,PRCP,SNOW_DEPTH,AVG_TEMP,MAX_TEMP,MIN_TEMP
868,"TORONTO CITY, ON CA",01/01/2018,0.01,4.3,8.0,18.0,-1.0
869,"TORONTO CITY, ON CA",01/02/2018,0.00,3.5,14.0,19.0,9.0
870,"TORONTO CITY, ON CA",01/03/2018,0.01,4.3,17.0,22.0,12.0
871,"TORONTO CITY, ON CA",01/04/2018,0.01,4.3,7.0,18.0,-3.0
872,"TORONTO CITY, ON CA",01/05/2018,0.00,3.9,0.0,6.0,-5.0
...,...,...,...,...,...,...,...
1220,"TORONTO CITY, ON CA",12/27/2018,0.18,NaN,30.0,39.0,21.0
1221,"TORONTO CITY, ON CA",12/28/2018,0.07,0.4,45.0,52.0,39.0
1222,"TORONTO CITY, ON CA",12/29/2018,0.00,0.0,31.0,40.0,22.0
1223,"TORONTO CITY, ON CA",12/30/2018,0.05,0.8,29.0,35.0,23.0
1224,"TORONTO CITY, ON CA",12/31/2018,0.54,0.8,37.0,43.0,30.0

In [20]:
# Write the data to a CSV
toronto_weather_df = '../toronto_weather_df.csv'
toronto_weather_clean.to_csv(toronto_weather_df, index=False)